<!doctype html>
<html ng-app="fileApp">
<head>
    <meta charset="utf-8">
    <title>Files</title>
    <link rel="stylesheet" href="libs/css/bootstrap.css">
    <script src="libs/js/date.format.js"></script>
    <script src="libs/js/angular.min.js"></script>
    <script src="js/controllers.js"></script>
<body ng-controller="FileListCtrl">
<table class="table table-bordered table-hover" width="500">
    <thead>
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Uploaded By</th>
        <th>Uploaded On</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="file in files">
        <td>{{file.name}}</td>
        <td>{{file.size}}</td>
        <td>{{file.uplby}}</td>
        <td>{{file.uplon}}</td>
    </tr>
    </tbody>
</table>
<input value="" type="text" placeholder="File Name" ng-model="fileName">


<button ng-click="addItem()" ng-init="count=0">
    Add File
</button>

</body>
</html>
