<!doctype html>
<html ng-app="fileApp">
<head>
    <meta charset="utf-8">
    <title>Files</title>
    <link rel="stylesheet" href="libs/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="libs/js/angular.min.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="FileListCtrl">
<table class="table table-bordered" width="500">
    <thead>
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Uploaded By</th>
        <th>Uploaded On</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="file in files" ng-click="editFileName(file)" ng-class='{selected: file==selectedFile}'>
        <td ng-show=" rename && file==selectedFile"><input type="text" ng-enter="doEnter()" ng-Esc="doEsc()"
                                                 ng-model="file.name"/></td>
        <td ng-show="file!=selectedFile || !rename">{{file.name}}</td>
        <td>{{file.size}}</td>
        <td>{{file.uplby}}</td>
        <td>{{file.uplon}}</td>
    </tr>
    </tbody>
</table>
<input value="" type="text" placeholder="File Name" ng-model="fileName">


<button ng-click="addItem()">
    Add File
</button>

<button ng-click="renameItem()">
    Rename File
</button>

<button ng-click="deleteItem()">
    Delete File
</button>


</body>
</html>
