<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Files</title>
    <link rel="stylesheet" href="libs/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="libs/js/angular.min.js"></script>
    <script src="libs/js/angular-translate.js"></script>
    <script src="js/controllers.js"></script>
</head>
<script>
    angular.module('app', ['pascalprecht.translate', 'ngCookies'])

            .config(['$translateProvider', function($translateProvider){

                // Adding a translation table for the English language
                $translateProvider.translations('en_US', {
                    "TITLE"     : "How to use namespaces",
                    "ns1" : {
                        "HEADER"    : "A translations table supports namespaces.",
                        "SUBHEADER" : "So you can to structurize your translation table well."
                    },
                    "ns2" : {
                        "HEADER"    : "Do you want to have a structured translations table?",
                        "SUBHEADER" : "You can to use namespaces now."
                    }
                });

                // Adding a translation table for the Russian language
                $translateProvider.translations('ru_RU', {
                    "TITLE"     : "Как использовать пространства имен",
                    "ns1" : {
                        "HEADER"    : "Таблица переводов поддерживает пространства имен.",
                        "SUBHEADER" : "Таким образом, Вы можете хорошо структурировать ваши переводы."
                    },
                    "ns2" : {
                        "HEADER"    : "Вы хотите иметь структурированную таблицу переводов?",
                        "SUBHEADER" : "Теперь Вы можете использовать пространства имен."
                    }
                });

                // Tell the module what language to use by default
                $translateProvider.preferredLanguage('en_US');

                // Tell the module to store the language in the cookies
                // $translateProvider.useCookieStorage();

            }])

            .controller('ctrl', ['$scope', '$translate', function($scope, $translate) {

                $scope.setLang = function(langKey) {
                    // You can change the language during runtime
                    $translate.uses(langKey);
                };

            }]);
</script>
<body  ng-controller="ctrl">
<h1 translate>ns1.HEADER</h1>
<table class="table table-bordered" width="500">
    <thead>
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Uploaded By</th>
        <th>Uploaded On</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="file in files" ng-click="editFileName(file)" ng-class='{selected: file==selectedFile}'>
        <td ng-show=" rename && file==selectedFile"><input type="text" ng-enter="doEnter()" ng-Esc="doEsc()"
                                                 ng-model="file.name"/></td>
        <td ng-show="file!=selectedFile || !rename">{{file.name}}</td>
        <td>{{file.size}}</td>
        <td>{{file.uplby}}</td>
        <td>{{file.uplon}}</td>
    </tr>
    </tbody>
</table>
<input value="" type="text" placeholder="File Name" ng-model="fileName">


<button ng-click="addItem()">
    Add File
</button>

<button ng-click="renameItem()">
    Rename File
</button>

<button ng-click="deleteItem()">
    Delete File
</button>


</body>
</html>
