<!doctype html>
<html ng-app="notifyApp">
<head>
    <meta charset="utf-8">
    <title>Files</title>
    <link rel="stylesheet" href="libs/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="js/message/css/notify.css" rel="stylesheet">

</head>
<script src="libs/js/angular.min.js"></script>
<script src="js/notifyctrl.js"></script>
<script src="js/notify.js"></script>
<body ng-controller="NotifyCtrl">
<button ng-click="click(message)">click</button>
<input ng-model="message">
</body>
</html>